				<table>
					<TMPL_LOOP param1>
						<tr>
							<td><b><TMPL_VAR NAME=key><b></td>
							 <td><TMPL_IF param2><TMPL_INCLUDE param2.tmpl><TMPL_ELSE><b><TMPL_VAR NAME=val></b></TMPL_IF></td>
						</tr>
						<tr>
							<td colspan=2><hr /></td>
						</tr>
					</TMPL_LOOP> 
				</table>
				
